<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xaut.mapper.ServiceItemMapper">

    <select id="selectServiceItemById" parameterType="Integer" resultType="cn.edu.xaut.domain.entity.ServiceItem">
        SELECT * FROM service_item WHERE service_id = #{serviceId}
    </select>

    <select id="selectServiceItemsByType" parameterType="String" resultType="cn.edu.xaut.domain.entity.ServiceItem">
        SELECT * FROM service_item WHERE service_type = #{serviceType}
    </select>

    <select id="selectAllServiceItems" resultType="cn.edu.xaut.domain.entity.ServiceItem">
        SELECT * FROM service_item
    </select>

    <insert id="insertServiceItem" parameterType="cn.edu.xaut.domain.entity.ServiceItem" useGeneratedKeys="true" keyProperty="serviceId">
        INSERT INTO service_item (service_name, service_type, price, duration, description, create_time)
        VALUES (#{serviceName}, #{serviceType}, #{price}, #{duration}, #{description}, NOW())
    </insert>

    <update id="updateServiceItem" parameterType="cn.edu.xaut.domain.entity.ServiceItem">
        UPDATE service_item
        SET service_name = #{serviceName},
            service_type = #{serviceType},
            price = #{price},
            duration = #{duration},
            description = #{description},
            update_time = NOW()
        WHERE service_id = #{serviceId}
    </update>

    <delete id="deleteServiceItem" parameterType="Integer">
        DELETE FROM service_item WHERE service_id = #{serviceId}
    </delete>

</mapper>