<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.xaut.mapper.UserMapper">

    <select id="selectUserByPhone" resultType="cn.edu.xaut.domain.entity.user.UserDO">
        SELECT * FROM user WHERE Phone = #{phone}
    </select>

    <select id="selectUserByEmail" resultType="cn.edu.xaut.domain.entity.user.UserDO">
        SELECT * FROM user WHERE Email = #{email}
    </select>

    <select id="selectAllUsers" resultType="cn.edu.xaut.domain.entity.user.UserDO">
        SELECT * FROM user
    </select>

</mapper>
